<%- include('templates/header', {title: "Timeline"}); %>

<link rel="stylesheet" href="/css/timeline.css">
<script src="https://kit.fontawesome.com/dec9278e05.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container-fluid text-center h-100">
        <div class="row h-100 min-vh-100">
            <div class="col-sm-2 options-panel" name="options">
            <div style="height: 50px;">
            </div>

            <ul class="options-list">
                <a href="/profile" class="option-text"><li class="option-list"><i class="fa fa-user"></i> Profile</li></a>
                <a href="/timeline" class="option-text"><li class="option-list"><i class="fa fa-hashtag"></i> Explore</li></a>
                <form action="/logout" method="post">
                    <button class="btn btn-light p-2 pt-1 pb-1 log-out-button" type="submit">Log Out</button>
                </form>
            </ul>
           
            </div>
            <div class="col">

                <% for(let i=0; i<posts.length; i++){ %>

                    <% if(posts[i].user.email !== sessionUserEmail) { %>
                    
                    <div class="post-item">
    
                    <a href="/profile/<%= posts[i].user.email%>" style="text-decoration: none">
                        <div class="post-user h5 mt-3">
    
                            <img class="rounded-circle img-user-post border" src="<%=posts[i].user.avatar%>">
    
                            <b ><%=posts[i].user.name%> <%=posts[i].user.surname%></b>
    
                        </div>
                    </a>
    
                        <img class="post-photo mt-3 mb-3" src="<%= posts[i].multimedia %>">
    
                        <p><%=posts[i].body%></p>
    
                        <div class="border border-1 pt-2 pb-2 m-0">
                            <button class="container-fluid" data-bs-toggle="collapse" data-bs-target="#comments<%= i %>">Comments</button>
    
                            <div id="comments<%= i %>" class="collapse mt-2">
    
                                <form action="/new-comment/<%= posts[i].id %>" method="post">
                                    <textarea rows="3" class="container-fluid mb-1 mt-2" name="body" placeholder="Add a new comment..."></textarea>
    
                                    <button class="btn btn-primary mb-1" type="submit">Comment</button>
                                </form>
    
                                <% posts[i].comment.forEach(function(comment){ %>
    
                                <div class="post-comment border">
    
                                    <img class="comment-photo" src="<%= comment.user.avatar %>">
    
                                    <a class="h6 mr-2" href="/profile/<%=comment.user.email%>"><%= comment.user.name %> <%= comment.user.surname%></a>
    
                                   <!-- <label class="text-opacity-75"><%= comment.createdAt %></label> -->
    
                                    <p class="comment-content"><%= comment.body %></p>
    
                                </div>
    
                                <% }); %>
    
                            </div>
                        </div>
    
                    </div>

                    <% } %>
    
                    <% }; %>
                   
            </div>
          
            <div class="col-sm-2 options-panel" name="fill">
              
            </div>

          </div>
    </div>
   
</body>
</html>